.daiz-ss-cropper, .daiz-ss-cropper-main {
    border: 1px solid #777;
    cursor: move;
    background-color: #ddd;
    opacity: 0.4;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 10000;
}

.daiz-ss-cropper {
    z-index: 100001;
    background-color: #FFD54F;
    border: 1px solid #FFC107;
}

.daiz-ss-cropper-text {
    z-index: 100001;
    background-color: #9575CD !important;
    border: 1px solid #673AB7 !important;
}

#daiz-ss-run, #daiz-ss-send {
    position: fixed;
    z-index: 10000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 4px;
    bottom: 12px;
    right: 12px;
}

#daiz-ss-send {
    background-color: #FFC107;
    bottom: 48px;
}

#export {
    color: #1E88E5;
}

.daiz-ss-iv-cover {
    background-color: #fff;
    z-index: 10000;
    box-sizing: content-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
        0 3px 1px -2px rgba(0,0,0,.2),
        0 1px 5px 0 rgba(0,0,0,.12);
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0 ,0);
}

.daiz-ss-iv-svg {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}

.daiz-ss-iv-rbar {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: #fafafa;
}

.daiz-ss-iv-cover-foot {
    color: #888;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 6px;
    height: 20px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
}

.daiz-ss-iv-cover-foot a.svgss{
    font-size: 11px;
    text-decoration: none;
    color: #888;
}

.daiz-ss-iv-cover-foot a.svgss:hover{
    text-decoration: underline;
    color: #2962FF;
}

.daiz-ss-iv-cover-foot a.jump:hover{
    text-decoration: underline;
    color: #2962FF;
}

.daiz-ss-iv-cover-foot .jump {
    margin-left: 6px;
    font-size: 11px;
    color: #888;
}

#daiz-ss-cropper-close,
#daiz-ss-cropper-capture,
#daiz-ss-cropper-scrap-select,
#daiz-ss-cropper-scrapbox {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10001;
    color: #fff;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

#daiz-ss-cropper-scrap-select {
    color: #000;
    top: -10px;
    left: 95px;
    height: 20px;
    width: initial;
    border: initial;
    border-radius: initial;
    font-size: 11px;
}

.daiz-ss-cropper-main select {
    -webkit-appearance: menulist;
    background-image: none;
}

#daiz-ss-cropper-close {
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #777;
}

#daiz-ss-cropper-capture, #daiz-ss-cropper-scrapbox {
    height: 20px;
    left: -10px;
    top: -10px;
    font-size: 11px;
    line-height: 11px;
    background-color: green;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#daiz-ss-cropper-scrapbox {
    left: 50px;
    height: 20px;
}