.daiz-ss-cropper, .daiz-ss-cropper-main {
    border: 1px solid #777;
    cursor: move;
    background-color: #ddd;
    opacity: 0.4;
    cursor: pointer;
    z-index: 10000;
}

.daiz-ss-cropper {
    z-index: 100001;
    background-color: #FFD54F;
    border: 1px solid #FFC107;
}

.daiz-ss-cropper-text {
    z-index: 100001;
    background-color: #9575CD !important;
    border: 1px solid #673AB7 !important;
}

#daiz-ss-run, #daiz-ss-send {
    position: fixed;
    z-index: 10000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 4px;
    bottom: 12px;
    right: 12px;
}

#daiz-ss-send {
    background-color: #FFC107;
    bottom: 48px;
}

#export {
    color: #1E88E5;
}

.daiz-ss-iv-cover {
    background-color: #fff;
    z-index: 10000;
    box-sizing: content-box;
    border: 1px solid #eee;
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.daiz-ss-iv-svg {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
}

.daiz-ss-iv-cover-foot {
    color: #888;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 6px;
}

.daiz-ss-iv-cover-foot span{
    font-size: 11px;
}

.daiz-ss-iv-cover-foot a {
    margin-left: 6px;
    font-size: 11px;
    color: #888;
}

#daiz-ss-cropper-close, #daiz-ss-cropper-capture {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10001;
    color: #fff;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

#daiz-ss-cropper-close {
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #777;
}

#daiz-ss-cropper-capture {
    height: 20px;
    left: -10px;
    top: -10px;
    font-size: 11px;
    line-height: 11px;
    background-color: green;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
