html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

::selection {
    text-shadow: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
}
*:focus {
  outline: none;
}

header {
    position: fixed;
    z-index: 200;
    background-color: #607D8B
}

.visibleRect {
    fill: rgb(255, 213, 79);
    stroke-width: 1;
    stroke: rgb(255, 193, 7);
    opacity: 0.4;
}

.head_btn, .drawer_btn {
    cursor: pointer;
    -webkit-user-select: none;
}

.hb {
    margin-right: 12px;
    margin-left: 12px;
}

.mdl-navigation.mdl-navigation__link {
    color: #111;
}

.mdl-layout__drawer.is-visible {
    position: fixed;
    color: #111;
    z-index: 600;
}

.mdl-layout__obfuscator.is-visible {
    position: fixed;
    z-index: 550;
}

.mdl-js-snackbar.mdl-snackbar {
    background-color: #424242 !important;
    z-index: 550;
    overflow-x: hidden;
}

#btn-site-open {
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: #212121;
    background-color: #FFC107 !important;
    z-index: 1000;
}

.headmenu.mdl-navigation {
    z-index: 400;
    position: absolute;
    right: 0px;
    padding-right: 28px !important;
    padding-left: 6px !important;
}

#main {
    position: relative;
    width: 400px;
    height: 250px;
    top: 115px;
    z-index: 400;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

#site-title {
    cursor: default;
}
